[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
yt-dlp = "*"
pytest = "*"
dicttoxml = "*"
pillow = "*"
requests = "*"
requests-mock = "*"
ruff = "*"
coverage = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.14"
